{% extends 'accounts/base_accounts.html' %}

{% block title %}

    {% if validlink %}
        Изменить пароль для {{ form.user.username }}
    {% else %}
        Восстановить ваш пароль
    {% endif %}

{% endblock %}


{% block content %}

    {% if validlink %}

    <h3>Изменить пароль для @{{ form.user.username }}</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Смена пароля</button>
        </form>

    {% else %}

        <h3>Восстановить ваш пароль</h3>
        <div>
            Выглядит так, что вы кликнули на нерабочую ссылку смены пароля. Попробуйте еще раз, чуть позже.
        </div>
            <a href="{% url 'password_reset' %}">Запрос на новую ссылку смены пароля</a>

    {% endif %}

{% endblock %}