Привет,

Кто-то запросил смену пароля для следующего email адреса {{ email }}.

Перейдите по ссылке снизу:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

В случае, если вы забыли ваш username: {{ user.username }}

Если при переходе по ссылке, ничего не происходит, скопируйте ссылку и вставте ее в строку
в браузере.

В случае, если вы получили это сообщение по ошибке, это значит кто-то по ошибке ввел ваш email адрес
когда пытался сбросить пароль. Если вы не запрашивали смену пароля вы можете смело проигнорировать
данное письмо.

Благодарим,

The Blog game Team